[Unit]
Description=Wait for /data to be Decrypted
Conflicts=shutdown.target

[Service]
Type=oneshot
ExecStart=/usr/local/lib/systemd/android-data-wait-decrypted
RemainAfterExit=yes

[Install]
WantedBy=data-decryption.target
